{% extends 'base.html' %}

{% block content %}
<article>
    <h1> Loan Dash </h1>
    <div>
        {% for loan in loans %}
        <div>
            <a href="{% url 'calculator:loan-detail' loan.pk %}">
                <div style='border: 1px solid black;'>
                    <h4>{{ loan.title }}</h4>
                    <p>{{ loan.description }}</p>
                </div>
            </a>
        </div>
        {% empty %}
            <b> Sorry, there are currently no loans to display. </b>
        {% endfor %}
    </div>
</article>
{% endblock %}